<div class="bio-page">
    <div class="bio-card">
        <div class="bio-profile">
            <div class="bio-img">
                <img src="{{bio?.profile?.avatarUrl}}" />
            </div>
            <div class="bio-about">
                <p class="bio-name">{{bio?.profile?.name}}</p>
                <p class="bio-username">{{bio?.profile?.username}}</p>
            </div>
        </div>
        <div class="bio-links">
            <div class="bio-link shadow" *ngFor="let link of bio?.links">
                <a (click)="navigateToLink(link.url)">{{link?.description}}</a>
            </div>
        </div>
    </div>
</div>